# 기술적분석

1.
* 거래량이 실린 매집봉 다수 출현(시가총액대비 거래대금)
* 십자가 캔들 즉 캔들자체의 위아래크기가 크지 않을경우

2.
* 상승시: 60일선 볼린저밴드하단 만났을때 매수 120일선 볼린저밴드 하단만난 다음날 매도
* 하락시 : 120일선 볼린저 상단 만난다음날 매수, 60일선 볼린저밴드 상단만난 다음날 매도

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import FinanceDataReader as fdr

In [30]:
import plotly.express as px
import plotly.graph_objects as go

## 고려산업

In [3]:
df_go = fdr.DataReader('002140')
df_go

            Open  High   Low  Close   Volume    Change
Date
1998-03-17  2303  2303  2240   2241    15890       NaN
1998-03-18  2303  2340  2240   2241    25060  0.000000
1998-03-19  2122  2303  2122   2185    13600 -0.024989
1998-03-20  2147  2240  2147   2185    18810  0.000000
1998-03-21  2184  2440  2178   2328    32040  0.065446
...          ...   ...   ...    ...      ...       ...
2022-05-03  8210  8330  7120   7460  8871723  0.009472
2022-05-04  7290  7300  6250   6400  4591582 -0.142091
2022-05-06  6320  6630  5910   6540  3513515  0.021875
2022-05-09  6360  7100  6330   7100  5357957  0.085627
2022-05-10  6920  7550  6420   6680  8119978 -0.059155

[6000 rows x 6 columns]

In [4]:
## 60일선,120일선

In [25]:
df_go['ma5'] = df_go['Close'].rolling(5).mean()
df_go['ma20'] = df_go['Close'].rolling(20).mean()
df_go['ma60'] = df_go['Close'].rolling(60).mean()
df_go['ma120'] = df_go['Close'].rolling(120).mean()

In [24]:
# 20일 표준편차
df_go['std20'] = df_go['Close'].rolling(20).std()
# 5일 표준편차
df_go['std5'] = df_go['Close'].rolling(5).std()
# 60일 표준편차
df_go['std60'] = df_go['Close'].rolling(60).std()

In [8]:
# 볼린져 밴드
df_go['upper_b20'] = df_go['ma20'] + (df_go['std20']*2)
df_go['lower_b20'] = df_go['ma20'] - (df_go['std20']*2)

In [26]:
# 5일볼린져 밴드
df_go['upper_b5'] = df_go['ma5'] + (df_go['std20']*2)
df_go['lower_b5'] = df_go['ma5'] - (df_go['std20']*2)

# 60일볼린져 밴드
df_go['upper_b60'] = df_go['ma60'] + (df_go['std60']*2)
df_go['lower_b60'] = df_go['ma60'] - (df_go['std60']*2)

In [27]:
df_go

,Open,High,Low,Close,Volume,Change,ma20,ma60,ma120,std20,upper_b,lower_b,std5,std60,ma5,upper_b5,lower_b5,upper_b60,lower_b60
Date,,,,,,,,,,,,,,,,,,,
1998-08-08,871,871,803,872,1380,0.006928,NaN,NaN,NaN,NaN,1039.252347,725.947653,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-08-10,871,871,871,872,70,0.000000,NaN,NaN,NaN,NaN,1039.678674,728.621326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-08-11,834,871,769,847,800,-0.028670,NaN,NaN,NaN,NaN,1039.411919,730.788081,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-08-12,772,834,747,835,1710,-0.014168,NaN,NaN,NaN,NaN,1039.048985,732.451015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998-08-13,902,902,902,903,70,0.081437,NaN,NaN,NaN,NaN,1037.780544,732.219456,26.281172,NaN,865.8,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-03,8210,8330,7120,7460,8871723,0.009472,5352.25,4069.833333,3536.250000,1981.816999,9315.883998,1388.616002,704.151972,1455.050225,7766.0,11729.633998,3802.366002,6979.933784,1159.732883
2022-05-04,7290,7300,6250,6400,4591582,-0.142091,5485.75,4120.750000,3562.750000,1956.554621,9398.859243,1572.640757,519.297603,1482.450109,7252.0,11165.109243,3338.890757,7085.650218,1155.849782
2022-05-06,6320,6630,5910,6540,3513515,0.021875,5633.50,4175.416667,3591.083333,1916.630884,9466.761769,1800.238231,495.903216,1510.384476,7002.0,10835.261769,3168.738231,7196.185618,1154.647715
2022-05-09,6360,7100,6330,7100,5357957,0.085627,5806.50,4238.916667,3624.500000,1883.082649,9572.665298,2040.334702,485.510041,1552.044603,6978.0,10744.165298,3211.834702,7343.005873,1134.827460
2022-05-10,6920,7550,6420,6680,8119978,-0.059155,5952.50,4295.333333,3653.958333,1828.466787,9609.433573,2295.566427,436.210958,1578.449375,6836.0,10492.933573,3179.066427,7452.232083,1138.434583

In [28]:
df_go.dropna(inplace=True)

In [29]:
df_go

,Open,High,Low,Close,Volume,Change,ma20,ma60,ma120,std20,upper_b,lower_b,std5,std60,ma5,upper_b5,lower_b5,upper_b60,lower_b60
Date,,,,,,,,,,,,,,,,,,,
1999-01-11,2677,2901,2614,2901,212160,0.149366,2458.20,2027.600000,1865.133333,263.210462,2984.620924,1931.779076,226.483333,395.528190,2526.8,3053.220924,2000.379076,2818.656380,1236.543620
1999-01-12,3106,3330,2938,3175,306120,0.094450,2510.15,2055.883333,1884.325000,296.677084,3103.504168,1916.795832,323.402690,415.720330,2702.4,3295.754168,2109.045832,2887.323994,1224.442673
1999-01-13,3112,3299,2987,3206,152140,0.009764,2558.40,2084.933333,1903.775000,327.473004,3213.346008,1903.453992,342.933959,434.081999,2859.2,3514.146008,2204.253992,2953.097331,1216.769335
1999-01-14,3112,3112,2726,2726,150010,-0.149719,2577.35,2106.500000,1919.433333,325.556249,3228.462497,1926.237503,291.851503,433.236558,2906.4,3557.512497,2255.287503,2972.973116,1240.026884
1999-01-15,2863,3131,2739,3132,180030,0.148936,2609.75,2131.983333,1938.575000,347.296154,3304.342308,1915.157692,207.027776,447.840676,3028.0,3722.592308,2333.407692,3027.664685,1236.301982
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-05-03,8210,8330,7120,7460,8871723,0.009472,5352.25,4069.833333,3536.250000,1981.816999,9315.883998,1388.616002,704.151972,1455.050225,7766.0,11729.633998,3802.366002,6979.933784,1159.732883
2022-05-04,7290,7300,6250,6400,4591582,-0.142091,5485.75,4120.750000,3562.750000,1956.554621,9398.859243,1572.640757,519.297603,1482.450109,7252.0,11165.109243,3338.890757,7085.650218,1155.849782
2022-05-06,6320,6630,5910,6540,3513515,0.021875,5633.50,4175.416667,3591.083333,1916.630884,9466.761769,1800.238231,495.903216,1510.384476,7002.0,10835.261769,3168.738231,7196.185618,1154.647715
2022-05-09,6360,7100,6330,7100,5357957,0.085627,5806.50,4238.916667,3624.500000,1883.082649,9572.665298,2040.334702,485.510041,1552.044603,6978.0,10744.165298,3211.834702,7343.005873,1134.827460
2022-05-10,6920,7550,6420,6680,8119978,-0.059155,5952.50,4295.333333,3653.958333,1828.466787,9609.433573,2295.566427,436.210958,1578.449375,6836.0,10492.933573,3179.066427,7452.232083,1138.434583

In [31]:
# 그래프

In [23]:
fig = go.Figure(data= [go.Candlestick(x=df_go[e'],
                               open=df['Open'],
                               high = df['High'],
                               low = df['Low'],
                               close = df['Close'])])
fig.show()

Date
1998-08-08     313.304694
1998-08-10     311.057348
1998-08-11     308.623838
1998-08-12     306.597971
1998-08-13     305.561089
                 ...
2022-05-03    7927.267997
2022-05-04    7826.218486
2022-05-06    7666.523538
2022-05-09    7532.330596
2022-05-10    7313.867146
Length: 5881, dtype: float64

In [18]:
# 상승추세: 60일선 > 120일선

In [ ]:
# 하락추세: 60일선 < 120일
# 120일선 > 볼린저 위 매수
# 60일선 > 볼린저 위 매도

In [ ]:
if df