In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from datetime import timedelta

## 시가총액,주가 데이터

In [3]:
df_p = pd.read_csv('./data/노블엠앤비_시세추이.csv',encoding='cp949')
df_p
df_p['일자'] = pd.to_datetime(df_p['일자'])
df_p = df_p.sort_values(by='일자')
df_p

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
1474,2016-01-04,10450,250,2.45,10000,10750,10000,672835,6967962350,180337029400,17257132
1473,2016-01-05,11050,600,5.74,10100,11350,10050,864534,9268313550,190691308600,17257132
1472,2016-01-06,12400,1350,12.22,11250,13300,11200,1828806,22040722450,213988436800,17257132
1471,2016-01-07,11000,-1400,-11.29,12800,14000,10900,2261851,28771179200,189828452000,17257132
1470,2016-01-08,11500,500,4.55,11050,12050,10750,1041652,11926285950,198457018000,17257132
...,...,...,...,...,...,...,...,...,...,...,...
4,2021-12-24,3405,40,1.19,3390,3485,3330,61097,208599825,75934111635,22300767
3,2021-12-27,3315,-90,-2.64,3460,3460,3290,52981,176568725,73927042605,22300767
2,2021-12-28,3210,-105,-3.17,3310,3310,2985,252822,790860260,71585462070,22300767
1,2021-12-29,3280,70,2.18,3215,3350,3160,60462,199174815,73146515760,22300767
0,2021-12-30,3130,-150,-4.57,3280,3445,3125,94142,306889615,69801400710,22300767

## 재무비율데이터

In [4]:
df_ct_hts = pd.read_csv('./data/노블엠앤비_hts재무비율.csv',encoding='cp949',index_col=0).T
df_ct_hts = df_ct_hts.loc['2015/12':]
df_ct_hts

,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),...,지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),DPS(원),PER(배),PBR(배),발행주식수,배당수익률(%)
2015/12,"10,200",200,-65,-24,-23,"1,618",751,867,86,86.61,...,-11.34,-6.14,-12.18,"-1,316","47,546",0,NaN,3.15,"1,726",0.00
2016/03,"7,150",168,-38,-42,-37,"1,746",694,"1,051",98,66.06,...,-21.98,-10.01,-16.65,"-1,937","51,785",0,NaN,2.03,"1,966",0.00
2016/06,"6,640",165,-30,-102,-98,"1,671",694,977,101,71.05,...,-59.65,-23.96,-41.54,"-4,853","44,764",0,NaN,2.18,"2,028",0.00
2016/09,"5,400",160,-52,-47,-42,"1,590",644,946,103,68.04,...,-26.16,-11.51,-18.53,"-2,020","44,704",0,NaN,1.78,"2,067",0.00
2016/12,"3,615",144,-109,-295,-302,"1,241",561,680,103,82.53,...,-210.10,-83.48,-161.56,"-14,600","29,043",0,NaN,1.83,"2,067",0.00
2017/03,"3,055",142,-44,-49,-47,"1,118",407,712,118,57.16,...,-33.00,-16.48,-30.08,"-2,192","27,467",0,NaN,1.64,"2,360",0.00
2017/06,"2,840",130,-40,-114,-101,"1,033",471,562,118,83.91,...,-78.06,-42.46,-70.29,"-4,293","21,392",0,NaN,1.95,"2,360",0.00
2017/09,"1,610",176,-30,-46,-43,"1,215",546,669,159,81.53,...,-24.46,-16.48,-30.46,"-1,812","19,734",0,NaN,1.20,"3,176",0.00
2017/12,"1,475",155,-48,-52,-50,"1,182",576,605,172,95.18,...,-32.53,-17.27,-33.74,"-1,468","16,553",0,NaN,1.31,"3,434",0.00
2018/03,"1,425",145,-37,-53,-46,"1,145",537,608,172,88.33,...,-31.77,-18.12,-32.17,"-1,345","16,907",0,NaN,1.24,"3,434",0.00
2018/06,"1,495",159,-46,-108,-100,"1,115",496,619,246,80.07,...,-62.64,-38.18,-67.85,"-2,033","12,149",0,NaN,1.81,"4,913",0.00
2018/09,"1,330",200,-21,-6,-4,"1,150",512,638,251,80.27,...,-2.09,-2.18,-2.74,-83,"12,440",0,NaN,1.57,"5,016",0.00
2018/12,802,139,-73,-259,-248,"1,089",731,358,252,204.16,...,-179.10,-92.44,-203.28,"-4,916","6,989",0,NaN,1.69,"5,050",0.00
2019/03,530,205,9,-6,-1,"1,184",714,470,270,152.02,...,-0.27,-2.13,-0.55,-10,"8,647",0,NaN,0.90,"5,400",0.00
2019/06,679,219,-1,-15,-4,"1,232",771,461,348,167.27,...,-1.70,-4.86,-3.27,-54,"6,379",0,NaN,1.17,"6,967",0.00
2019/09,685,199,-4,-21,-15,"1,261",700,561,376,124.89,...,-7.59,-6.87,-12.13,-201,"7,307",0,NaN,1.03,"7,518",0.00
2019/12,765,131,-20,-98,-90,"1,042",571,471,457,121.13,...,-69.13,-33.93,-71.61,-988,"5,027",0,NaN,1.67,"9,146",0.00
2020/03,824,87,-52,-56,-50,"1,024",583,441,457,132.31,...,-57.32,-21.56,-44.95,-548,"4,726",0,NaN,1.91,"9,146",0.00
2020/06,694,76,-45,-165,-161,841,555,286,463,193.86,...,-212.08,-70.70,-181.19,"-1,740","3,019",0,NaN,2.52,"9,269",0.00
2020/09,623,87,-44,-53,-48,821,579,242,473,239.73,...,-55.25,-25.54,-74.17,-517,"2,547",0,NaN,2.68,"9,453",0.00
2020/12,"1,055",80,-71,-242,-230,572,456,116,595,392.58,...,-287.86,-138.95,-496.40,"-1,937","1,097",0,NaN,10.56,"11,903",0.00
2021/03,539,200,-64,-72,-56,"1,056",877,179,635,489.47,...,-28.06,-35.50,-132.65,-444,"1,644",0,NaN,3.60,"12,692",0.00
2021/06,"6,940",59,-50,-56,-62,642,516,126,127,409.37,...,-106.42,-26.62,-139.42,-492,"1,181",0,NaN,5.87,"12,692",0.00
2021/09,"5,520",31,-41,-54,-49,589,495,94,132,526.68,...,-158.18,-34.83,-143.46,-370,928,0,NaN,5.95,"13,160",0.00
2021/12,"3,130",-84,-8,-26,-12,"1,096",651,444,223,146.52,...,13.68,-12.18,-15.18,-74,"2,173",0,NaN,1.44,"22,301",0.00

In [5]:
# 제거해주기(적자기업이므로 PER제거)
df_ct_hts.drop(columns= ['유보율(%)','DPS(원)','배당수익률(%)','PER(배)'], inplace=True)

# 인덱스 날짜로 바꿔주기

df_ct_hts = df_ct_hts.reset_index()
df_ct_hts = df_ct_hts.rename(columns={'index':'일자'})
df_ct_hts.head()

# 데이터타입 날짜형으로 바꿔주기
df_ct_hts['일자'] = pd.to_datetime(df_ct_hts['일자'])

# 데이터타입 숫자형으로 바꿔주기

for col in df_ct_hts.columns[1:]:
        df_ct_hts[col] = df_ct_hts[col].apply(lambda x: x.replace(',',''))
        df_ct_hts[col] = df_ct_hts[col].apply(pd.to_numeric)
        
# 결산일 = 3,6,9,12월 마지막일
df_ct_hts['일자'] = df_ct_hts['일자'].apply(lambda x: x + timedelta(29))

In [6]:
df_ct_hts.head()

,일자,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2015-12-30,10200,200,-65,-24,-23,1618,751,867,86,86.61,-32.70,-11.34,-6.14,-12.18,-1316,47546,3.15,1726
1,2016-03-30,7150,168,-38,-42,-37,1746,694,1051,98,66.06,-22.32,-21.98,-10.01,-16.65,-1937,51785,2.03,1966
2,2016-06-30,6640,165,-30,-102,-98,1671,694,977,101,71.05,-18.26,-59.65,-23.96,-41.54,-4853,44764,2.18,2028
3,2016-09-30,5400,160,-52,-47,-42,1590,644,946,103,68.04,-32.47,-26.16,-11.51,-18.53,-2020,44704,1.78,2067
4,2016-12-30,3615,144,-109,-295,-302,1241,561,680,103,82.53,-75.75,-210.10,-83.48,-161.56,-14600,29043,1.83,2067

## 날짜 전처리

In [7]:
# '2015-12-01' ~'2022-04-30' 날짜만
ser_date1 = pd.date_range('2015-12-30','2021-12-31')
df_date1 = pd.DataFrame({'일자': ser_date1})
df_date1[:5]

          일자
0 2015-12-30
1 2015-12-31
2 2016-01-01
3 2016-01-02
4 2016-01-03

In [8]:
# 일단 모든 날짜 채우기
df_ct_hts1 = pd.merge(df_date1, df_ct_hts, on='일자', how='left')
df_ct_hts1.head(10)

,일자,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2015-12-30,10200.0,200.0,-65.0,-24.0,-23.0,1618.0,751.0,867.0,86.0,86.61,-32.7,-11.34,-6.14,-12.18,-1316.0,47546.0,3.15,1726.0
1,2015-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2016-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2016-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2016-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Nan값 의 데이터로 채우기: 발표된 데이터가 과거값

df_ct_hts1 = df_ct_hts1.fillna(method='bfill')
df_ct_hts1

,일자,주가(원),매출액(억원),영업이익(억원),당기순이익(억원),지배주주순이익(억원),자산총계(억원),부채총계(억원),자본총계(억원),자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2015-12-30,10200.0,200.0,-65.0,-24.0,-23.0,1618.0,751.0,867.0,86.0,86.61,-32.70,-11.34,-6.14,-12.18,-1316.0,47546.0,3.15,1726.0
1,2015-12-31,7150.0,168.0,-38.0,-42.0,-37.0,1746.0,694.0,1051.0,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
2,2016-01-01,7150.0,168.0,-38.0,-42.0,-37.0,1746.0,694.0,1051.0,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
3,2016-01-02,7150.0,168.0,-38.0,-42.0,-37.0,1746.0,694.0,1051.0,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
4,2016-01-03,7150.0,168.0,-38.0,-42.0,-37.0,1746.0,694.0,1051.0,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2189,2021-12-27,3130.0,-84.0,-8.0,-26.0,-12.0,1096.0,651.0,444.0,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0
2190,2021-12-28,3130.0,-84.0,-8.0,-26.0,-12.0,1096.0,651.0,444.0,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0
2191,2021-12-29,3130.0,-84.0,-8.0,-26.0,-12.0,1096.0,651.0,444.0,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0
2192,2021-12-30,3130.0,-84.0,-8.0,-26.0,-12.0,1096.0,651.0,444.0,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0
2193,2021-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 시가총액주가, 재무비율 합치기

In [12]:
df_ct = pd.merge(df_p,df_ct_hts1, on='일자', how='left')
df_ct = df_ct.iloc[:1475]
df_ct

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,...,자본금(억원),부채비율(%),영업이익률(%),지배주주순이익률(%),ROA(%),ROE(%),EPS(원),BPS(원),PBR(배),발행주식수
0,2016-01-04,10450,250,2.45,10000,10750,10000,672835,6967962350,180337029400,...,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
1,2016-01-05,11050,600,5.74,10100,11350,10050,864534,9268313550,190691308600,...,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
2,2016-01-06,12400,1350,12.22,11250,13300,11200,1828806,22040722450,213988436800,...,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
3,2016-01-07,11000,-1400,-11.29,12800,14000,10900,2261851,28771179200,189828452000,...,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
4,2016-01-08,11500,500,4.55,11050,12050,10750,1041652,11926285950,198457018000,...,98.0,66.06,-22.32,-21.98,-10.01,-16.65,-1937.0,51785.0,2.03,1966.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2021-12-24,3405,40,1.19,3390,3485,3330,61097,208599825,75934111635,...,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0
1471,2021-12-27,3315,-90,-2.64,3460,3460,3290,52981,176568725,73927042605,...,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0
1472,2021-12-28,3210,-105,-3.17,3310,3310,2985,252822,790860260,71585462070,...,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0
1473,2021-12-29,3280,70,2.18,3215,3350,3160,60462,199174815,73146515760,...,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0
1474,2021-12-30,3130,-150,-4.57,3280,3445,3125,94142,306889615,69801400710,...,223.0,146.52,9.48,13.68,-12.18,-15.18,-74.0,2173.0,1.44,22301.0

In [13]:
# 고가 - 종가
df_ct['고가-종가'] = df_ct['고가'] - df_ct['종가']

# 고가 - 시가
df_ct['고가-시가'] = df_ct['고가'] - df_ct['시가']

# 고가 - 저가
df_ct['고가-저가'] = df_ct['고가'] - df_ct['저가']

# 종가 - 시가
df_ct['종가-시가'] = df_ct['종가'] - df_ct['시가']

# 종가 - 저가
df_ct['종가-저가'] = df_ct['종가'] - df_ct['저가']

# 시가 - 저가
df_ct['시가-저가'] = df_ct['시가'] - df_ct['저가']

In [14]:
df_kind = pd.read_csv('./data/전환사채.csv',index_col=0)
df_kind['상장(예정)일'] = pd.to_datetime(df_kind['상장(예정)일'])
df_kind = df_kind.rename(columns={'상장(예정)일': '일자'})
df_kind['발행주식수'] = pd.to_numeric(df_kind['발행주식수'])
df_kind['액면가'] = pd.to_numeric(df_kind['액면가'],errors='coerce')
df_kind.dropna(inplace=True)
df_kind['전환사채전환총액'] = df_kind['발행주식수'] * df_kind['액면가']
df_kind.head()

,회사명,일자,상장방식,발행주식수,액면가,발행사유,전환사채전환총액
0,광림,2022-05-06,추가상장,1432024.0,500.0,국내사모 전환사채 전환,7.160120e+08
1,바이온,2022-05-06,변경상장,-33450389.0,500.0,감자(무상),-1.672519e+10
2,초록뱀미디어,2022-05-06,추가상장,100000.0,500.0,주식매수선택권행사,5.000000e+07
3,트루윈,2022-05-06,추가상장,22428.0,500.0,국내공모 신주인수권부사채 신주인수권 행사,1.121400e+07
4,로보티즈,2022-05-06,추가상장,10000.0,500.0,주식매수선택권행사,5.000000e+06

In [15]:
df_ct_cb = df_kind[df_kind['회사명']=='노블엠앤비']
df_ct_cb = df_ct_cb[df_ct_cb['발행사유'].str.contains('전환사채')]
df_ct_cb = df_ct_cb.sort_values(by='일자',ascending=True)
df_ct_cb = df_ct_cb.set_index('일자')

df_ct_cb = df_ct_cb.reset_index()
df_ct_cb1 = df_ct_cb[['일자','전환사채전환총액']]

In [18]:
df_ct1 = pd.merge(df_ct,df_ct_cb1, on='일자', how= 'left')
df_ct1

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,...,BPS(원),PBR(배),발행주식수,고가-종가,고가-시가,고가-저가,종가-시가,종가-저가,시가-저가,전환사채전환총액
0,2016-01-04,10450,250,2.45,10000,10750,10000,672835,6967962350,180337029400,...,51785.0,2.03,1966.0,300,750,750,450,450,0,NaN
1,2016-01-05,11050,600,5.74,10100,11350,10050,864534,9268313550,190691308600,...,51785.0,2.03,1966.0,300,1250,1300,950,1000,50,NaN
2,2016-01-06,12400,1350,12.22,11250,13300,11200,1828806,22040722450,213988436800,...,51785.0,2.03,1966.0,900,2050,2100,1150,1200,50,NaN
3,2016-01-07,11000,-1400,-11.29,12800,14000,10900,2261851,28771179200,189828452000,...,51785.0,2.03,1966.0,3000,1200,3100,-1800,100,1900,NaN
4,2016-01-08,11500,500,4.55,11050,12050,10750,1041652,11926285950,198457018000,...,51785.0,2.03,1966.0,550,1000,1300,450,750,300,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,2021-12-24,3405,40,1.19,3390,3485,3330,61097,208599825,75934111635,...,2173.0,1.44,22301.0,80,95,155,15,75,60,NaN
1472,2021-12-27,3315,-90,-2.64,3460,3460,3290,52981,176568725,73927042605,...,2173.0,1.44,22301.0,145,0,170,-145,25,170,NaN
1473,2021-12-28,3210,-105,-3.17,3310,3310,2985,252822,790860260,71585462070,...,2173.0,1.44,22301.0,100,0,325,-100,225,325,NaN
1474,2021-12-29,3280,70,2.18,3215,3350,3160,60462,199174815,73146515760,...,2173.0,1.44,22301.0,70,135,190,65,120,55,NaN
1475,2021-12-30,3130,-150,-4.57,3280,3445,3125,94142,306889615,69801400710,...,2173.0,1.44,22301.0,315,165,320,-150,5,155,NaN

In [19]:
df_kind[df_kind['회사명']=='노블엠앤비']

      회사명         일자  상장방식      발행주식수     액면가          발행사유      전환사채전환총액
12  노블엠앤비 2022-04-27  추가상장  1637315.0  1000.0  국내사모 전환사채 전환  1.637315e+09
10  노블엠앤비 2022-03-07  추가상장    61785.0  1000.0  국내사모 전환사채 전환  6.178500e+07
12  노블엠앤비 2022-02-17  변경상장        0.0  1000.0          상호변경  0.000000e+00
4   노블엠앤비 2021-12-22  추가상장  8895265.0  1000.0   유상증자(제3자배정)  8.895265e+09
11  노블엠앤비 2021-12-02  추가상장   246002.0  1000.0    유상증자(일반공모)  2.460020e+08
..    ...        ...   ...        ...     ...           ...           ...
14  노블엠앤비 2014-05-14  추가상장    35000.0   500.0     주식매수선택권행사  1.750000e+07
14  노블엠앤비 2014-04-14  추가상장    15000.0   500.0     주식매수선택권행사  7.500000e+06
7   노블엠앤비 2013-09-30  추가상장    15000.0   500.0     주식매수선택권행사  7.500000e+06
9   노블엠앤비 2012-08-01  추가상장    60000.0   500.0     주식매수선택권행사  3.000000e+07
2   노블엠앤비 2012-07-13  신규상장  5393177.0   500.0            신규  2.696588e+09

[68 rows x 7 columns]

In [17]:
# 전환사채전환총액 : 발행된 전환사채가 과거값
df_ct1 = df_ct1.fillna(method='bfill')
df_ct1 = df_ct1.fillna(1.637315e+09)

In [ ]:
df_ct2 = df_ct1.drop(columns= ['대비','시가', '고가', '저가','거래량','시가총액', '상장주식수', '주가(원)','발행주식수'])
df_ct2