# 국내,고층,주변국 데이터(df_c) + 자외선(df_u)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_c = pd.read_csv('./data/국내+고층+주변국.csv')
df_c # 1996년 ~ 21년 8월

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,상하이이슬점 온도,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,2.700000,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,-0.262500,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.062500,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,3.312500,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,5.625000,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,26.737500,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000
9371,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,26.957143,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500
9372,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,26.700000,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500
9373,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,25.887500,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500
9374,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,25.287500,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000

In [3]:
# 자외선 데이터

df_u = pd.read_csv('./data/자외선최종(2005-2020).csv')
df_u.tail()

              시간  자외선 B 일최고값
6204  2020-12-27       0.041
6205  2020-12-28       0.045
6206  2020-12-29       0.028
6207  2020-12-30       0.048
6208  2020-12-31       0.050

In [4]:
# 보간법으로 채우기

df_u['자외선 B 일최고값'] = df_u['자외선 B 일최고값'].interpolate()
df_u.isnull().sum()

시간            0
자외선 B 일최고값    0
dtype: int64

In [5]:
# 자외선 추가하기

df_c1 = pd.merge(df_c,df_u, how='left', on='시간' )
df_c1

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667,NaN
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000,NaN
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500,NaN
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000,NaN
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9735,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000,NaN
9736,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500,NaN
9737,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500,NaN
9738,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500,NaN
9739,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000,NaN

### df_c : 국내+고층+주변국
### df_c1: 국내+고층+주변국+자외선

==================================================================================

## df_c2 : 통합기후+자외선(df_c1) 기간설정(2005 ~ 2019)

In [6]:
# 인덱스 설정
df_c1 = df_c1.set_index('시간')

# 구간(2000년 ~2019년)
df_c2 = df_c1.loc['2005-01-01':'2019-12-31']
df_c2

,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,서울평균 풍속,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
시간,,,,,,,,,,,,,,,,,,,,,
2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,2.1,...,-2.4250,1.3,-7.8,36.7375,20.0,4.125,0.0,1028.7375,-15.5500,0.036
2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,2.8,...,1.7750,5.4,-1.8,45.7000,10.0,5.750,0.0,1018.0500,-9.5750,0.032
2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,3.6,...,-0.6375,4.0,-4.9,37.5500,70.0,4.375,0.0,1029.3625,-14.1500,0.027
2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,3.2,...,-3.7750,1.1,-7.3,36.2625,280.0,2.625,0.0,1035.5125,-17.3375,0.040
2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,1.6,...,-0.5250,0.7,-4.1,47.6375,10.0,3.125,0.0,1027.5750,-11.2125,0.044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,-1.7,-4.6,2.6,0.0,0.0,7.7,290.0,4.3,290.0,2.1,...,5.2500,8.8,0.9,42.1000,350.0,3.500,0.0,1022.8000,-7.0750,0.046
2019-12-28,1.1,-3.6,6.1,0.0,0.0,5.8,70.0,3.7,70.0,2.0,...,8.7250,12.7,4.9,39.7250,350.0,4.250,0.0,1019.5500,-4.4500,0.042
2019-12-29,3.8,1.1,6.2,0.0,1.4,6.6,110.0,4.4,70.0,2.9,...,7.4000,11.9,4.9,62.4250,310.0,3.000,0.0,1021.8250,0.4000,0.017
2019-12-30,2.7,-5.7,6.8,0.0,0.4,13.1,320.0,7.4,320.0,2.9,...,-3.9500,-0.6,-8.9,32.2250,50.0,3.000,0.0,1039.9000,-19.1500,0.035
2019-12-31,-7.9,-10.9,-4.5,0.0,0.0,10.8,340.0,7.5,340.0,3.1,...,-3.3500,0.6,-10.0,32.3000,340.0,2.000,0.0,1037.7250,-18.9250,0.049

In [7]:
df_c2.isnull().sum().sum()

0

# 구제역 전처리

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('./data/구제역 발생현황.csv',index_col=0)
df

,0,1,2,3,4,5,6,7
0,구제역,일호농장,충청북도 충주시 주덕읍 당우리,2019-01-31 (2019-01-31),소-한우,-,구제역진단과,0025-12-19
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN
2,구제역,이한모,경기도 안성시 금광면 오산리,2019-01-28 (2019-01-29),소-젖소,-,구제역진단과,NaN
3,구제역,한강농장,경기도 김포시 하성면 시암리,2018-04-01 (2018-04-03),돼지-일반,-,구제역진단과,NaN
4,구제역,뒤울농장,경기도 김포시 대곶면 율생리,2018-03-26 (2018-03-27),돼지-비육돈,-,구제역진단과,NaN
...,...,...,...,...,...,...,...,...
8,구제역,이상재,충청남도 홍성군 갈산면 오두리,2000-04-04 (2000-04-04),소-한우,-,병리진단과,NaN
9,구제역,이종복,충청남도 보령시 주산면 신구리,2000-04-04 (2000-04-04),소-한우,-,병리진단과,NaN
0,구제역,이봉희,충청남도 홍성군 구항면 장양리,2000-04-01 (2000-04-01),소-육우,-,병리진단과,NaN
1,구제역,최창국,충청남도 홍성군 구항면 공리,2000-04-01 (2000-04-01),소-육우,-,병리진단과,NaN
2,구제역,김영규,경기도 파주시 파평면 금파리,2000-03-26 (2000-03-26),소-젖소,-,병리진단과,NaN

In [10]:
df.columns = ['가축전염병명','농장명(농장주)','농장소재지','발생일자','축종(품종)','발생두수(마리)','진단기관','종식일']

In [11]:
df.head()

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일
0,구제역,일호농장,충청북도 충주시 주덕읍 당우리,2019-01-31 (2019-01-31),소-한우,-,구제역진단과,0025-12-19
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN
2,구제역,이한모,경기도 안성시 금광면 오산리,2019-01-28 (2019-01-29),소-젖소,-,구제역진단과,NaN
3,구제역,한강농장,경기도 김포시 하성면 시암리,2018-04-01 (2018-04-03),돼지-일반,-,구제역진단과,NaN
4,구제역,뒤울농장,경기도 김포시 대곶면 율생리,2018-03-26 (2018-03-27),돼지-비육돈,-,구제역진단과,NaN

In [12]:
# 날짜 처리

In [13]:
# 결측값 확인
df['발생일자'].isnull().sum()

0

In [14]:
df['발생일시']= df['발생일자'].apply(lambda x : x.split(' ')[0])
df['발생일시']

0    2019-01-31
1    2019-01-29
2    2019-01-28
3    2018-04-01
4    2018-03-26
        ...
8    2000-04-04
9    2000-04-04
0    2000-04-01
1    2000-04-01
2    2000-03-26
Name: 발생일시, Length: 423, dtype: object

In [15]:
# 지역처리

In [16]:
df['농장소재지'].unique()

array(['충청북도 충주시 주덕읍 당우리', '경기도 안성시 양성면 방축리', '경기도 안성시 금광면 오산리',
       '경기도 김포시 하성면 시암리', '경기도 김포시 대곶면 율생리', '충청북도 보은군 탄부면 구암리',
       '충청북도 보은군 마로면 송현리', '충청북도 보은군 탄부면 상장리', '경기도 연천군 군남면 선곡리',
       '전라북도 정읍시 산내면 장금리', '충청북도 보은군 마로면 관기리', '충청남도 홍성군 홍동면 월현리',
       '충청남도 논산시 광석면 율리', '충청남도 홍성군 홍동면 홍원리', '충청남도 논산시 노성면 노티리',
       '충청남도 논산시 노성면 죽림리', '충청남도 논산시 광석면 득윤리', '충청남도 논산시 연산면 덕암리',
       '충청남도 공주시 탄천면 남산리', '충청남도 천안시 동남구 풍세면 용정리', '전라북도 고창군 무장면 덕림리',
       '전라북도 김제시 용지면 용수리', '충청남도 천안시 동남구 목천읍 응원리', '충청남도 홍성군 장곡면 신풍리',
       '경기도 화성시 신남동', '경기도 용인시 처인구 남사면 봉명리', '강원도 철원군 동송읍 오지리',
       '강원도 철원군 갈말읍 강포리', '경기도 화성시 우정읍 운평리', '충청남도 홍성군 구항면 장양리',
       '경기도 평택시 서탄면 수월암리', '충청남도 홍성군 서부면 중리', '강원도 철원군 김화읍 청양리',
       '강원도 철원군 갈말읍 문혜리', '경상북도 안동시 서후면 성곡리', '충청남도 아산시 음봉면 의식리',
       '충청남도 아산시 염치읍 산양리', '충청남도 아산시 신창면 궁화리', '충청북도 충주시 소태면 덕은리',
       '충청남도 보령시 천북면 신죽리', '충청남도 당진시 합덕읍 소소리', '인천광역시 강화군 화도면 장화리',
       '충청남도 아산시 신창면 오목리', '충청남도 아산시 선장면 가산리', '충청남도 홍성군 홍동면 금당리',
       '충청남도 홍성군 홍성읍 학계리', '경기도 이천시 대월면 대흥리', '충청남도 홍성군 은하면 대천리',
       '충청남도 아산시 신창면 남성리', '충청남도 홍성군 광천읍 운용리', '충청남도 아산시 선장면 대흥리',
       '경기도 평택시 오성면 죽리', '충청남도 홍성군 홍동면 원천리', '경기도 평택시 청북면 고잔리',
       '충청남도 홍성군 장곡면 가송리', '충청남도 홍성군 결성면 성호리', '충청남도 아산시 음봉면 쌍암리',
       '경기도 수원시 권선구 탑동', '충청남도 홍성군 장곡면 신동리', '충청남도 홍성군 은하면 목현리',
       '경기도 용인시 처인구 백암면 용천리', '충청남도 홍성군 결성면 무량리', '충청남도 보령시 주교면 신대리',
       '강원도 철원군 갈말읍 토성리', '경상북도 경주시 안강읍 산대리', '경기도 안성시 일죽면 방초리',
       '충청남도 홍성군 광천읍 월림리', '충청남도 홍성군 은하면 덕실리', '충청북도 진천군 덕산면 신척리',
       '경기도 용인시 처인구 백암면 근삼리', '경상북도 봉화군 봉화읍 도촌리', '충청남도 홍성군 금마면 덕정리',
       '충청남도 천안시 동남구 병천면 매성리', '경기도 평택시 오성면 양교리', '경기도 평택시 지산동',
       '경기도 포천시 관인면 탄동리', '충청남도 천안시 동남구 병천면 관성리', '경기도 이천시 부발읍 산촌리',
       '경기도 화성시 장안면 석포리', '충청남도 천안시 서북구 성환읍 도하리', '경기도 이천시 부발읍 수정리',
       '강원도 원주시 소초면 평장리', '경기도 용인시 처인구 포곡읍 신원리', '충청남도 홍성군 결성면 용호리',
       '강원도 춘천시 동산면 군자리', '충청남도 천안시 동남구 병천면 봉항리', '경기도 평택시 포승읍 방림리',
       '충청북도 괴산군 청천면 고성리', '충청북도 충주시 주덕읍 사락리', '충청북도 청주시 청원구 오창읍 성산리',
       '충청남도 보령시 천북면 신덕리', '충청남도 천안시 서북구 성환읍 성환리', '경기도 이천시 부발읍 신원리',
       '강원도 철원군 갈말읍 지경리', '충청북도 단양군 어상천면 율곡리', '충청남도 공주시 신풍면 동원리',
       '세종특별자치시 연서면 와촌리', '충청남도 천안시 동남구 북면 상동리', '경기도 이천시 대월면 군량리',
       '충청남도 천안시 서북구 성환읍 신방리', '충청북도 제천시 금성면 사곡리', '경기도 이천시 모가면 서경리',
       '경기도 용인시 처인구 백암면 옥산리', '경기도 이천시 모가면 신갈리', '경기도 이천시 설성면 제요리',
       '경기도 용인시 처인구 백암면 백봉리', '경기도 안성시 일죽면 고은리', '경기도 이천시 모가면 두미리',
       '충청남도 천안시 동남구 병천면 병천리', '충청북도 보은군 보은읍 지산리', '충청북도 진천군 이월면 신월리',
       '충청북도 진천군 이월면 삼용리', '경기도 이천시 장호원읍 와현리', '충청남도 공주시 유구읍 만천리',
       '경기도 안성시 일죽면 월정리', '경기도 이천시 대월면 송라리', '경기도 여주시 가남읍 삼승리',
       '경기도 안성시 삼죽면 진촌리', '경기도 여주시 가남읍 대신리', '경기도 안성시 일죽면 장암리',
       '경기도 이천시 율면 본죽리', '충청북도 청주시 청원구 내수읍 내수리', '경상북도 의성군 금성면 산운리',
       '경기도 안성시 일죽면 화곡리', '경기도 이천시 장호원읍 방추리', '경기도 안성시 죽산면 장계리',
       '경기도 안성시 죽산면 당목리', '충청북도 괴산군 청안면 금신리', '충청북도 진천군 백곡면 사송리',
       '경기도 안성시 죽산면 장원리', '경기도 용인시 처인구 원삼면 두창리', '경기도 용인시 처인구 원삼면 가재월리',
       '경상북도 의성군 금성면 탑리리', '경상북도 안동시 남후면 고상리', '충청남도 천안시 동남구 병천면 탑원리',
       '충청북도 음성군 삼성면 천평리', '충청북도 괴산군 감물면 매전리', '충청남도 천안시 동남구 수신면 장산리',
       '경상북도 영천시 화산면 화산리', '경기도 이천시 장호원읍 어석리', '충청북도 청주시 청원구 북이면 옥수리',
       '충청북도 청주시 청원구 북이면 광암리', '충청북도 청주시 상당구 미원면 용곡리', '충청북도 증평군 도안면 노암리',
       '충청북도 청주시 청원구 북이면 토성리', '충청남도 천안시 동남구 동면 구도리', '충청북도 진천군 덕산면 구산리',
       '충청북도 청주시 청원구 북이면 석화리', '충청북도 청주시 청원구 오창읍 양지리', '충청북도 음성군 원남면 문암리',
       '충청남도 천안시 동남구 동면 화계리', '충청북도 증평군 증평읍 남차리', '충청북도 진천군 진천읍 송두리',
       '충청북도 진천군 이월면 사곡리', '충청북도 진천군 진천읍 장관리', '경상남도 합천군 적중면 누하리',
       '경상북도 고령군 운수면 월산리', '경상북도 의성군 비안면 장춘리', '경상북도 영천시 도남동',
       '경상북도 영천시 금호읍 삼호리', '경상북도 영천시 금호읍 황정리', '울산광역시 울주군 삼남면 상천리',
       '충청남도 태안군 고남면 누동리', '경상북도 청도군 청도읍 내호리', '대전광역시 동구 하소동',
       '부산광역시 사하구 장림동', '충청남도 천안시 서북구 성환읍 어룡리', '경상북도 경산시 압량면 신월리',
       '경상북도 울진군 평해읍 학곡리', '충청남도 홍성군 광천읍 대평리', '세종특별자치시 금남면 도암리',
       '경상남도 양산시 상북면 좌삼리', '경상남도 김해시 주촌면 원지리', '충청남도 공주시 계룡면 경천리',
       '경상북도 문경시 문경읍 각서리', '충청남도 아산시 음봉면 신휴리', '강원도 고성군 간성읍 교동리',
       '경상북도 문경시 불정동', '경상북도 상주시 함창읍 태봉리', '충청남도 아산시 신창면 읍내리',
       '충청남도 공주시 탄천면 정치리', '강원도 횡성군 둔내면 현천리', '경상북도 포항시 북구 흥해읍 대련리',
       '충청남도 예산군 광시면 신흥리', '강원도 삼척시 미로면 동산리', '강원도 영월군 수주면 무릉리',
       '대구광역시 북구 연경동', '충청남도 예산군 신암면 탄중리', '충청북도 제천시 송학면 도화리',
       '경상북도 청송군 진보면 기곡리', '경상북도 영양군 입암면 연당리', '충청북도 충주시 동량면 대전리',
       '충청북도 충주시 신니면 신청리', '강원도 화천군 사내면 삼일리', '경상북도 봉화군 상운면 운계리',
       '강원도 횡성군 강림면 강림리', '강원도 춘천시 서면 방동리', '경상북도 경주시 외동읍 활성리',
       '경상북도 봉화군 봉화읍 거촌리', '강원도 평창군 대관령면 횡계리', '경상북도 봉화군 봉화읍 적덕리',
       '충청북도 청주시 청원구 오창읍 성재리', '경기도 이천시 설성면 장능리', '경기도 안성시 일죽면 신흥리',
       '경상북도 포항시 남구 호미곶면 구만리', '경기도 평택시 고덕면 문곡리', '강원도 철원군 서면 자등리',
       '강원도 강릉시 구정면 어단리', '경기도 안성시 고삼면 신창리', '경기도 화성시 장안면 수촌리',
       '인천광역시 계양구 갈현동', '충청북도 음성군 금왕읍 호산리', '충청북도 음성군 삼성면 대정리',
       '충청남도 당진군 합덕읍 도곡리', '강원도 춘천시 남면 추곡리', '강원도 양양군 손양면 삽존리',
       '충청북도 진천군 문백면 도하리', '강원도 횡성군 안흥면 소사리', '경기도 의정부시 산곡동',
       '강원도 홍천군 서석면 어론리', '강원도 철원군 철원읍 율이리', '충청북도 괴산군 사리면 방축리',
       '경상북도 영천시 고경면 석계리', '경상북도 경주시 안강읍 근계리', '충청남도 보령시 천북면 사호리',
       '충청남도 천안시 동남구 병천면 송정리', '경상북도 영천시 화북면 공덕리', '강원도 화천군 간동면 유촌리',
       '경상북도 영천시 화남면 삼창리', '경상북도 영천시 임고면 삼매리', '경상북도 포항시 북구 기계면',
       '충청남도 천안시 동남구 수신면 속창리', '경기도 광명시 가학동', '경상북도 포항시 북구 기계면 학야리',
       '강원도 양구군 양구읍 월명리', '강원도 횡성군 우천면 상하가리', '경기도 남양주시 진건읍 사능리',
       '경상북도 영천시 화산면 부계리', '강원도 홍천군 남면 유치리', '강원도 횡성군 우천면 정금리',
       '경상북도 영주시 장수면 갈산리', '강원도 춘천시 동면 상걸리', '강원도 홍천군 홍천읍 장전평리',
       '경상북도 청송군 진보면 이촌리', '인천광역시 서구 오류동', '경기도 양평군 양평읍 오빈리',
       '경기도 여주시 가남읍 본두리', '강원도 철원군 동송읍 관우리', '경상북도 영천시 화남면 금호리',
       '인천광역시 강화군 양도면 조산리', '강원도 횡성군 서원면 유현리', '강원도 횡성군 횡성읍 학곡리',
       '강원도 원주시 문막읍 취병리', '강원도 춘천시 남면 가정리', '강원도 평창군 대화면 신리',
       '강원도 화천군 사내면 명월리', '경기도 포천시 관인면 중리', '경기도 김포시 월곶면 갈산리',
       '경기도 포천시 영중면 양문리', '경기도 연천군 전곡읍 고능리', '경기도 가평군 하면 신하리',
       '경기도 고양시 일산동구 중산동', '경기도 파주시 교하읍 산남리', '경기도 파주시 파주읍 부곡리',
       '경상북도 예천군 지보면 마전리', '경기도 양주시 남면 상수리', '경상북도 영주시 적서동',
       '경상북도 영양군 청기면 정족리', '경상북도 예천군 호명면 오천리', '경상북도 안동시 예안면 계곡리',
       '경상북도 안동시 풍산읍 회곡리', '경상북도 안동시 북후면 물한리', '경상북도 안동시 북후면 장기리',
       '경상북도 안동시 와룡면 태리', '경상북도 안동시 북후면 도진리', '경상북도 안동시 남선면 이천리',
       '경상북도 안동시 와룡면 주계리', '경상북도 안동시 서후면 광평리', '경상북도 안동시 서후면 이송천리',
       '경상북도 안동시 서후면 저전리', '경상북도 안동시 북후면 오산리', '경상북도 안동시 와룡면 이하리',
       '경상북도 안동시 노하동', '경상북도 안동시 와룡면 이상리', '경상북도 안동시 와룡면 라소리',
       '경상북도 안동시 와룡면 가야리', '경상북도 안동시 이천동', '경상북도 안동시 와룡면 서현리',
       '충청남도 청양군 목면 대평리', '충청남도 청양군 정산면 내초리', '인천광역시 강화군 불은면 고능리',
       '충청북도 충주시 신니면 용원리', '경기도 김포시 월곶면 고양리', '인천광역시 강화군 선원면 금월리',
       '경기도 포천시 창수면 주원리', '경기도 연천군 청산면 초성리', '경기도 포천시 창수면 추동리',
       '경기도 포천시 신북면 심곡리', '경기도 안성시 일죽면 당촌리', '경기도 평택시 유천동',
       '경기도 용인시 처인구 원삼면 독성리', '경기도 안성시 보개면 남풍리', '충청북도 진천군 진천읍 행정리',
       '경기도 안성시 보개면 적가리', '경기도 안성시 삼죽면 덕산리', '경기도 안성시 삼죽면 내장리',
       '충청남도 홍성군 구항면 공리', '충청남도 홍성군 구항면 황곡리', '충청북도 충주시 신니면 화석리',
       '경기도 용인시 처인구 남사면 방아리', '경기도 화성시 비봉면', '충청남도 홍성군 갈산면 오두리',
       '충청남도 보령시 주산면 신구리', '경기도 파주시 파평면 금파리'], dtype=object)

In [17]:
df['발생장소'] = df['농장소재지'].apply(lambda x : x.split(' ')[0]+' '+ x.split(' ')[1] )
df['발생장소']

0    충청북도 충주시
1     경기도 안성시
2     경기도 안성시
3     경기도 김포시
4     경기도 김포시
       ...
8    충청남도 홍성군
9    충청남도 보령시
0    충청남도 홍성군
1    충청남도 홍성군
2     경기도 파주시
Name: 발생장소, Length: 423, dtype: object

In [18]:
df.head()

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소
0,구제역,일호농장,충청북도 충주시 주덕읍 당우리,2019-01-31 (2019-01-31),소-한우,-,구제역진단과,0025-12-19,2019-01-31,충청북도 충주시
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN,2019-01-29,경기도 안성시
2,구제역,이한모,경기도 안성시 금광면 오산리,2019-01-28 (2019-01-29),소-젖소,-,구제역진단과,NaN,2019-01-28,경기도 안성시
3,구제역,한강농장,경기도 김포시 하성면 시암리,2018-04-01 (2018-04-03),돼지-일반,-,구제역진단과,NaN,2018-04-01,경기도 김포시
4,구제역,뒤울농장,경기도 김포시 대곶면 율생리,2018-03-26 (2018-03-27),돼지-비육돈,-,구제역진단과,NaN,2018-03-26,경기도 김포시

In [19]:
df.to_csv('./data/구제역_1.csv', index=False)

====================================================================================================

## 타겟 뽑기(전국)

In [20]:
df_gu = pd.read_csv('./data/구제역_1.csv')
df_gu

,가축전염병명,농장명(농장주),농장소재지,발생일자,축종(품종),발생두수(마리),진단기관,종식일,발생일시,발생장소
0,구제역,일호농장,충청북도 충주시 주덕읍 당우리,2019-01-31 (2019-01-31),소-한우,-,구제역진단과,0025-12-19,2019-01-31,충청북도 충주시
1,구제역,황희선,경기도 안성시 양성면 방축리,2019-01-29 (2019-01-29),소-한우,-,구제역진단과,NaN,2019-01-29,경기도 안성시
2,구제역,이한모,경기도 안성시 금광면 오산리,2019-01-28 (2019-01-29),소-젖소,-,구제역진단과,NaN,2019-01-28,경기도 안성시
3,구제역,한강농장,경기도 김포시 하성면 시암리,2018-04-01 (2018-04-03),돼지-일반,-,구제역진단과,NaN,2018-04-01,경기도 김포시
4,구제역,뒤울농장,경기도 김포시 대곶면 율생리,2018-03-26 (2018-03-27),돼지-비육돈,-,구제역진단과,NaN,2018-03-26,경기도 김포시
...,...,...,...,...,...,...,...,...,...,...
418,구제역,이상재,충청남도 홍성군 갈산면 오두리,2000-04-04 (2000-04-04),소-한우,-,병리진단과,NaN,2000-04-04,충청남도 홍성군
419,구제역,이종복,충청남도 보령시 주산면 신구리,2000-04-04 (2000-04-04),소-한우,-,병리진단과,NaN,2000-04-04,충청남도 보령시
420,구제역,이봉희,충청남도 홍성군 구항면 장양리,2000-04-01 (2000-04-01),소-육우,-,병리진단과,NaN,2000-04-01,충청남도 홍성군
421,구제역,최창국,충청남도 홍성군 구항면 공리,2000-04-01 (2000-04-01),소-육우,-,병리진단과,NaN,2000-04-01,충청남도 홍성군
422,구제역,김영규,경기도 파주시 파평면 금파리,2000-03-26 (2000-03-26),소-젖소,-,병리진단과,NaN,2000-03-26,경기도 파주시

In [21]:
df_gu['발생일시'].values

array(['2019-01-31', '2019-01-29', '2019-01-28', '2018-04-01',
       '2018-03-26', '2017-02-13', '2017-02-13', '2017-02-13',
       '2017-02-12', '2017-02-11', '2017-02-09', '2017-02-08',
       '2017-02-06', '2017-02-05', '2016-03-29', '2016-03-24',
       '2016-03-21', '2016-03-21', '2016-03-21', '2016-03-19',
       '2016-03-17', '2016-03-14', '2016-03-14', '2016-03-11',
       '2016-03-11', '2016-03-11', '2016-03-11', '2016-03-11',
       '2016-03-10', '2016-03-07', '2016-02-23', '2016-02-17',
       '2016-02-17', '2016-01-13', '2016-01-11', '2015-04-28',
       '2015-04-28', '2015-04-21', '2015-04-14', '2015-04-14',
       '2015-04-09', '2015-04-06', '2015-04-06', '2015-04-06',
       '2015-04-02', '2015-04-02', '2015-04-01', '2015-04-01',
       '2015-03-31', '2015-03-31', '2015-03-30', '2015-03-30',
       '2015-03-30', '2015-03-30', '2015-03-27', '2015-03-26',
       '2015-03-25', '2015-03-24', '2015-03-24', '2015-03-23',
       '2015-03-23', '2015-03-23', '2015-03-23', '2015-03-21',
       '2015-03-21', '2015-03-20', '2015-03-20', '2015-03-18',
       '2015-03-18', '2015-03-17', '2015-03-17', '2015-03-17',
       '2015-03-16', '2015-03-16', '2015-03-16', '2015-03-16',
       '2015-03-15', '2015-03-15', '2015-03-14', '2015-03-13',
       '2015-03-13', '2015-03-13', '2015-03-13', '2015-03-12',
       '2015-03-12', '2015-03-12', '2015-03-12', '2015-03-11',
       '2015-03-10', '2015-03-10', '2015-03-09', '2015-03-09',
       '2015-03-08', '2015-03-04', '2015-03-04', '2015-03-03',
       '2015-03-03', '2015-03-03', '2015-03-03', '2015-03-02',
       '2015-03-02', '2015-02-28', '2015-02-28', '2015-02-28',
       '2015-02-26', '2015-02-26', '2015-02-26', '2015-02-25',
       '2015-02-24', '2015-02-24', '2015-02-24', '2015-02-24',
       '2015-02-24', '2015-02-23', '2015-02-23', '2015-02-23',
       '2015-02-22', '2015-02-21', '2015-02-21', '2015-02-21',
       '2015-02-19', '2015-02-17', '2015-02-16', '2015-02-16',
       '2015-02-15', '2015-02-14', '2015-02-14', '2015-02-13',
       '2015-02-13', '2015-02-13', '2015-02-13', '2015-02-13',
       '2015-02-13', '2015-02-12', '2015-02-11', '2015-02-10',
       '2015-02-09', '2015-02-09', '2015-02-09', '2015-02-08',
       '2015-02-07', '2015-02-06', '2015-02-06', '2015-02-06',
       '2015-02-05', '2015-02-05', '2015-02-04', '2015-02-03',
       '2015-02-03', '2015-01-31', '2015-01-30', '2015-01-29',
       '2015-01-28', '2015-01-27', '2015-01-24', '2015-01-23',
       '2015-01-23', '2015-01-20', '2015-01-20', '2015-01-19',
       '2015-01-19', '2015-01-19', '2015-01-18', '2015-01-17',
       '2015-01-17', '2015-01-16', '2015-01-15', '2015-01-15',
       '2015-01-15', '2015-01-14', '2015-01-13', '2015-01-12',
       '2015-01-12', '2015-01-12', '2015-01-11', '2015-01-11',
       '2015-01-11', '2015-01-10', '2015-01-09', '2015-01-08',
       '2015-01-08', '2015-01-08', '2015-01-07', '2015-01-07',
       '2015-01-06', '2015-01-06', '2015-01-06', '2015-01-05',
       '2015-01-04', '2015-01-03', '2015-01-03', '2015-01-03',
       '2015-01-02', '2015-01-01', '2014-12-31', '2014-12-31',
       '2014-12-30', '2014-12-29', '2014-12-29', '2014-12-28',
       '2014-12-27', '2014-12-27', '2014-12-25', '2014-12-23',
       '2014-12-22', '2014-12-21', '2014-12-19', '2014-12-18',
       '2014-12-18', '2014-12-18', '2014-12-18', '2014-12-18',
       '2014-12-16', '2014-12-15', '2014-12-15', '2014-12-13',
       '2014-12-12', '2014-12-09', '2014-12-04', '2014-12-03',
       '2014-08-06', '2014-07-28', '2014-07-23', '2011-04-21',
       '2011-04-19', '2011-04-16', '2011-02-25', '2011-02-18',
       '2011-02-18', '2011-02-14', '2011-02-06', '2011-02-05',
       '2011-02-04', '2011-02-02', '2011-02-01', '2011-01-31',
       '2011-01-29', '2011-01-24', '2011-01-24', '2011-01-24',
       '2011-01-23', '2011-01-21', '2011-01-21', '2011-01-21',
       '2011-01-21', '2011-01-21', '2011-01-20', '2011-01-20',
       '2011-01-19', '2011-01-19', '2011-01-19', '2011-01-18',
       '2011-01-18', '2011-01-17', '2011-01-17', '2011-01-15',
       '2011-01-14', '2011-01-12', '2011-01-12', '2011-01-11',
       '2011-01-10', '2011-01-10', '2011-01-10', '2011-01-09',
       '2011-01-09', '2011-01-09', '2011-01-09', '2011-01-08',
       '2011-01-08', '2011-01-08', '2011-01-07', '2011-01-07',
       '2011-01-07', '2011-01-07', '2011-01-07', '2011-01-07',
       '2011-01-06', '2011-01-06', '2011-01-06', '2011-01-06',
       '2011-01-05', '2011-01-05', '2011-01-05', '2011-01-05',
       '2011-01-04', '2011-01-04', '2011-01-04', '2011-01-04',
       '2011-01-04', '2011-01-03', '2011-01-03', '2011-01-03',
       '2011-01-03', '2011-01-02', '2011-01-02', '2011-01-02',
       '2011-01-02', '2011-01-02', '2011-01-01', '2011-01-01',
       '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
       '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
       '2010-12-31', '2010-12-31', '2010-12-30', '2010-12-30',
       '2010-12-30', '2010-12-30', '2010-12-29', '2010-12-27',
       '2010-12-27', '2010-12-27', '2010-12-27', '2010-12-26',
       '2010-12-26', '2010-12-26', '2010-12-25', '2010-12-24',
       '2010-12-23', '2010-12-23', '2010-12-23', '2010-12-23',
       '2010-12-22', '2010-12-22', '2010-12-22', '2010-12-21',
       '2010-12-21', '2010-12-21', '2010-12-21', '2010-12-21',
       '2010-12-21', '2010-12-20', '2010-12-19', '2010-12-18',
       '2010-12-15', '2010-12-14', '2010-12-14', '2010-12-10',
       '2010-12-06', '2010-12-04', '2010-12-04', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-03', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-03', '2010-12-03',
       '2010-12-03', '2010-12-03', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-02', '2010-12-02',
       '2010-12-02', '2010-12-02', '2010-12-01', '2010-12-01',
       '2010-12-01', '2010-11-29', '2010-11-28', '2010-05-06',
       '2010-04-30', '2010-04-27', '2010-04-21', '2010-04-21',
       '2010-04-19', '2010-04-10', '2010-04-09', '2010-04-09',
       '2010-04-09', '2010-04-08', '2010-01-30', '2010-01-19',
       '2010-01-16', '2010-01-16', '2010-01-13', '2010-01-07',
       '2002-06-23', '2002-06-10', '2002-06-07', '2002-06-02',
       '2002-05-19', '2002-05-19', '2002-05-19', '2002-05-18',
       '2002-05-12', '2002-05-12', '2002-05-10', '2002-05-10',
       '2002-05-10', '2002-05-10', '2002-05-03', '2002-05-02',
       '2000-04-16', '2000-04-14', '2000-04-13', '2000-04-11',
       '2000-04-09', '2000-04-09', '2000-04-09', '2000-04-04',
       '2000-04-04', '2000-04-04', '2000-04-04', '2000-04-04',
       '2000-04-01', '2000-04-01', '2000-03-26'], dtype=object)

In [22]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_gu))

# 데이터프레임만들기

target_lst = df_gu['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '구제역발생여부':answer})
df_target.value_counts()

시간          구제역발생여부
2010-12-02  1          12
2010-12-03  1          11
2011-01-01  1          10
2011-01-07  1           6
2010-12-21  1           6
                       ..
2014-12-04  1           1
2014-12-09  1           1
2014-12-12  1           1
2014-12-13  1           1
2019-01-31  1           1
Length: 214, dtype: int64

In [23]:
# 중복날짜 제거
df_target.drop_duplicates(inplace=True)
df_target.value_counts()

시간          구제역발생여부
2000-03-26  1          1
2015-01-30  1          1
2015-02-03  1          1
2015-02-04  1          1
2015-02-05  1          1
                      ..
2011-01-24  1          1
2011-01-29  1          1
2011-01-31  1          1
2011-02-01  1          1
2019-01-31  1          1
Length: 214, dtype: int64

# 기후데이터 + 구제역 타겟 합치기

In [24]:
# 합치기
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['구제역발생여부'] = df_model['구제역발생여부'].apply(lambda x : x if x == 1 else 0)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값,구제역발생여부
0,2005-01-01,-4.9,-8.8,-1.0,0.0,0.0,7.5,290.0,4.8,290.0,...,1.3,-7.8,36.7375,20.0,4.125,0.0,1028.7375,-15.5500,0.036,0.0
1,2005-01-02,0.4,-5.0,4.5,0.0,0.0,9.8,230.0,6.1,250.0,...,5.4,-1.8,45.7000,10.0,5.750,0.0,1018.0500,-9.5750,0.032,0.0
2,2005-01-03,2.9,-2.0,4.9,0.0,1.5,12.0,250.0,5.9,290.0,...,4.0,-4.9,37.5500,70.0,4.375,0.0,1029.3625,-14.1500,0.027,0.0
3,2005-01-04,-4.9,-7.4,-1.2,0.0,0.0,13.1,290.0,6.4,290.0,...,1.1,-7.3,36.2625,280.0,2.625,0.0,1035.5125,-17.3375,0.040,0.0
4,2005-01-05,-3.8,-8.8,0.6,0.0,0.0,6.0,70.0,3.2,70.0,...,0.7,-4.1,47.6375,10.0,3.125,0.0,1027.5750,-11.2125,0.044,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5838,2019-12-27,-1.7,-4.6,2.6,0.0,0.0,7.7,290.0,4.3,290.0,...,8.8,0.9,42.1000,350.0,3.500,0.0,1022.8000,-7.0750,0.046,0.0
5839,2019-12-28,1.1,-3.6,6.1,0.0,0.0,5.8,70.0,3.7,70.0,...,12.7,4.9,39.7250,350.0,4.250,0.0,1019.5500,-4.4500,0.042,0.0
5840,2019-12-29,3.8,1.1,6.2,0.0,1.4,6.6,110.0,4.4,70.0,...,11.9,4.9,62.4250,310.0,3.000,0.0,1021.8250,0.4000,0.017,0.0
5841,2019-12-30,2.7,-5.7,6.8,0.0,0.4,13.1,320.0,7.4,320.0,...,-0.6,-8.9,32.2250,50.0,3.000,0.0,1039.9000,-19.1500,0.035,0.0
5842,2019-12-31,-7.9,-10.9,-4.5,0.0,0.0,10.8,340.0,7.5,340.0,...,0.6,-10.0,32.3000,340.0,2.000,0.0,1037.7250,-18.9250,0.049,0.0

In [25]:
df_model.to_csv('./data/구제역타겟추가.csv')

In [27]:
df_gu_month = df['발생일시'].apply(lambda x : x.split('-')[1])
df_gu_month.value_counts()

01    129
12     91
03     71
02     69
04     41
05     13
06      4
07      2
11      2
08      1
Name: 발생일시, dtype: int64