In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 한글 폰트 사용을 위해서 세팅
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/malgun.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [3]:
df = pd.read_csv('./data/산불_2003_2021.csv',index_col=0)
df.head()

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인,피해면적_합계
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,봉화,명호,양곡,주택화재비화,0.50
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,청주,오송,상봉,원인미상,0.40
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,남해,창선,가인,원인미상,0.50
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,순천,NaN,대룡,쓰레기소각,0.03
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,완도,완도,장좌,입산자실화,0.10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8204 entries, 0 to 3394
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   발생일시_년     8204 non-null   int64
 1   발생일시_월     8204 non-null   int64
 2   발생일시_일     8204 non-null   int64
 3   발생일시_시간    8204 non-null   object
 4   발생일시_요일    8204 non-null   object
 5   진화종료시간_년   8204 non-null   int64
 6   진화종료시간_월   8204 non-null   int64
 7   진화종료시간_일   8204 non-null   int64
 8   진화종료시간_시간  8204 non-null   object
 9   발생장소_시도    8204 non-null   object
 10  발생장소_시군구   8204 non-null   object
 11  발생장소_읍면    7886 non-null   object
 12  발생장소_동리    6779 non-null   object
 13  발생원인       8167 non-null   object
 14  피해면적_합계    8204 non-null   float64
dtypes: float64(1), int64(6), object(8)
memory usage: 1.0+ MB

In [5]:
df.isnull().sum()

발생일시_년          0
발생일시_월          0
발생일시_일          0
발생일시_시간         0
발생일시_요일         0
진화종료시간_년        0
진화종료시간_월        0
진화종료시간_일        0
진화종료시간_시간       0
발생장소_시도         0
발생장소_시군구        0
발생장소_읍면       318
발생장소_동리      1425
발생원인           37
피해면적_합계         0
dtype: int64

In [6]:
# 날짜 합치기 위해 자료형(int->str) 바꾸기
df[['발생일시_년','발생일시_월','발생일시_일','진화종료시간_년','진화종료시간_월','진화종료시간_일']] =df[['발생일시_년','발생일시_월','발생일시_일','진화종료시간_년','진화종료시간_월','진화종료시간_일']].astype(str)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8204 entries, 0 to 3394
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   발생일시_년     8204 non-null   object
 1   발생일시_월     8204 non-null   object
 2   발생일시_일     8204 non-null   object
 3   발생일시_시간    8204 non-null   object
 4   발생일시_요일    8204 non-null   object
 5   진화종료시간_년   8204 non-null   object
 6   진화종료시간_월   8204 non-null   object
 7   진화종료시간_일   8204 non-null   object
 8   진화종료시간_시간  8204 non-null   object
 9   발생장소_시도    8204 non-null   object
 10  발생장소_시군구   8204 non-null   object
 11  발생장소_읍면    7886 non-null   object
 12  발생장소_동리    6779 non-null   object
 13  발생원인       8167 non-null   object
 14  피해면적_합계    8204 non-null   float64
dtypes: float64(1), object(14)
memory usage: 1.0+ MB

In [8]:
df['발생일시'] = df['발생일시_년']+'-'+ df['발생일시_월']+'-'+ df['발생일시_일']
df['발생일시']

0       2021-12-30
1       2021-12-30
2       2021-12-29
3       2021-12-29
4       2021-12-29
           ...
3390      2006-1-2
3391      2006-1-2
3392      2006-1-3
3393      2006-1-3
3394      2006-1-3
Name: 발생일시, Length: 8204, dtype: object

In [9]:
df['진화종료일시'] = df['진화종료시간_년']+'-'+ df['진화종료시간_월']+'-'+ df['진화종료시간_일']
df['진화종료일시']

0       2021-12-30
1       2021-12-30
2       2021-12-29
3       2021-12-29
4       2021-12-29
           ...
3390      2006-1-2
3391      2006-1-2
3392      2006-1-3
3393      2006-1-3
3394      2006-1-3
Name: 진화종료일시, Length: 8204, dtype: object

In [10]:
# 발생장소 발생장소_시도	발생장소_시군구	발생장소_읍면	발생장소_동리

df['발생장소'] = df['발생장소_시도'] + ' '+ df['발생장소_시군구']
df['발생장소']

0       경북 봉화
1       충북 청주
2       경남 남해
3       전남 순천
4       전남 완도
        ...
3390    경남 마산
3391    대구 달서
3392    경북 칠곡
3393    경북 칠곡
3394    경북 영덕
Name: 발생장소, Length: 8204, dtype: object

In [11]:
df.head()

,발생일시_년,발생일시_월,발생일시_일,발생일시_시간,발생일시_요일,진화종료시간_년,진화종료시간_월,진화종료시간_일,진화종료시간_시간,발생장소_시도,발생장소_시군구,발생장소_읍면,발생장소_동리,발생원인,피해면적_합계,발생일시,진화종료일시,발생장소
0,2021,12,30,14:57,목,2021,12,30,17:30,경북,봉화,명호,양곡,주택화재비화,0.50,2021-12-30,2021-12-30,경북 봉화
1,2021,12,30,11:16,목,2021,12,30,12:30,충북,청주,오송,상봉,원인미상,0.40,2021-12-30,2021-12-30,충북 청주
2,2021,12,29,14:20,수,2021,12,29,17:30,경남,남해,창선,가인,원인미상,0.50,2021-12-29,2021-12-29,경남 남해
3,2021,12,29,13:53,수,2021,12,29,16:10,전남,순천,NaN,대룡,쓰레기소각,0.03,2021-12-29,2021-12-29,전남 순천
4,2021,12,29,05:47,수,2021,12,29,12:00,전남,완도,완도,장좌,입산자실화,0.10,2021-12-29,2021-12-29,전남 완도

## * df_fire : 전처리한 산불현황

In [12]:
# 사용할 열 추출

df_fire = df[['발생일시','진화종료일시','발생원인','발생장소', '피해면적_합계']]
df_fire = df_fire.sort_values(by='피해면적_합계', ascending = False)
df_fire

           발생일시     진화종료일시          발생원인   발생장소  피해면적_합계
579   2020-4-24  2020-4-27      입산자실화 추정  경북 안동  1944.00
1264   2019-4-4   2019-4-5  특고압 전선 아크 불티  강원 고성  1266.62
1261   2019-4-4   2019-4-5     신당 전기초 합선  강원 강릉  1260.15
2449   2005-4-4   2005-4-6       입산자실화추정  강원 양양   973.00
2383   2017-5-6   2017-5-9        입산자 실화  강원 삼척   765.12
...         ...        ...           ...    ...      ...
3117  2016-2-23  2016-2-23           조사중   울산 북     0.01
3119  2016-2-21  2016-2-21         담뱃불실화  부산 기장     0.01
3121  2016-2-21  2016-2-21         쓰레기소각  경기 가평     0.01
1489  2009-1-26  2009-1-26       농산폐기물소각  경남 하동     0.01
1519  2009-2-21  2009-2-21       움막화재 확산  부산 기장     0.01

[8204 rows x 5 columns]

==================================================================================================================

# 국내,고층,주변국 데이터 + 자외선

In [13]:
import pandas as pd
import numpy as np

In [14]:
df_c = pd.read_csv('./data/국내+고층+주변국.csv')
df_c # 1996년 ~ 21년 8월

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,상하이이슬점 온도,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,2.700000,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,-0.262500,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.062500,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,3.312500,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,5.625000,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,26.737500,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000
9371,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,26.957143,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500
9372,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,26.700000,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500
9373,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,25.887500,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500
9374,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,25.287500,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000

In [15]:
# 자외선 데이터

df_u = pd.read_csv('./data/자외선최종(2005-2020).csv')
df_u.tail()

              시간  자외선 B 일최고값
6204  2020-12-27       0.041
6205  2020-12-28       0.045
6206  2020-12-29       0.028
6207  2020-12-30       0.048
6208  2020-12-31       0.050

In [16]:
# 보간법으로 채우기

df_u['자외선 B 일최고값'] = df_u['자외선 B 일최고값'].interpolate()
df_u.isnull().sum()

시간            0
자외선 B 일최고값    0
dtype: int64

## df_c1 : df_c(국내+고층+주변국) + df_u(자외선)

In [17]:
# 자외선 추가하기

df_c1 = pd.merge(df_c,df_u, how='left', on='시간' )
df_c1

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,자외선 B 일최고값
0,1996-01-01,-3.2,-7.9,2.5,0.0,0.0,6.0,340.0,3.5,290.0,...,9.466667,10.4,8.2,28.6000,10.0,4.666667,0.00000,1014.266667,-7.866667,NaN
1,1996-01-02,0.2,-3.9,3.9,0.0,0.0,9.3,230.0,3.8,230.0,...,2.550000,9.6,-3.9,30.0750,40.0,4.625000,0.00000,1025.587500,-14.050000,NaN
2,1996-01-03,-4.5,-8.5,5.5,0.0,0.0,17.5,270.0,8.2,290.0,...,-1.712500,1.0,-4.3,37.0375,60.0,2.125000,0.00000,1028.212500,-14.887500,NaN
3,1996-01-04,-5.4,-10.7,-0.1,0.0,0.0,7.1,270.0,3.5,270.0,...,1.362500,5.3,-2.4,54.5000,30.0,1.500000,0.00000,1018.650000,-7.100000,NaN
4,1996-01-05,-0.1,-2.1,2.0,0.0,2.0,7.8,70.0,3.7,70.0,...,0.650000,5.2,-2.7,69.2000,40.0,2.500000,0.00000,1024.350000,-4.725000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9735,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.200000,26.1,17.8,68.6500,350.0,2.250000,0.00000,1013.300000,15.925000,NaN
9736,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.200000,28.4,18.9,75.6250,320.0,1.500000,-2.07536,1013.387500,18.337500,NaN
9737,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.550000,21.9,18.8,92.9875,50.0,0.875000,-2.07536,1014.112500,19.362500,NaN
9738,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.400000,24.3,21.4,93.1250,40.0,1.500000,-2.07536,1013.275000,21.212500,NaN
9739,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.912500,21.7,18.8,94.7875,50.0,2.625000,-2.07536,1012.675000,19.050000,NaN

# ◆ 산불

In [18]:
df_sanbul = pd.read_csv('./data/산불_1.csv')  ## df_fire 와 동일
df_sanbul

            발생일시      진화종료일시    발생원인   발생장소  피해면적_합계
0     2021-12-30  2021-12-30  주택화재비화  경북 봉화     0.50
1     2021-12-30  2021-12-30    원인미상  충북 청주     0.40
2     2021-12-29  2021-12-29    원인미상  경남 남해     0.50
3     2021-12-29  2021-12-29   쓰레기소각  전남 순천     0.03
4     2021-12-29  2021-12-29   입산자실화  전남 완도     0.10
...          ...         ...     ...    ...      ...
8199    2006-1-2    2006-1-2   입산자실화  경남 마산     0.05
8200    2006-1-2    2006-1-2   입산자실화  대구 달서     0.02
8201    2006-1-3    2006-1-3   입산자실화  경북 칠곡    10.00
8202    2006-1-3    2006-1-3   입산자실화  경북 칠곡     3.00
8203    2006-1-3    2006-1-3   입산자실화  경북 영덕     0.80

[8204 rows x 5 columns]

In [19]:
# df_sanbul['발생일시'] = df_sanbul['발생일시'].astype('datetime64')
df_sanbul = df_sanbul.sort_values(by='발생일시',ascending= False)
df_sanbul

           발생일시     진화종료일시     발생원인   발생장소  피해면적_합계
48    2021-9-20  2021-9-20    쓰레기소각  인천 강화     0.16
54     2021-8-9  2021-8-10    입산자실화   대전 동     0.01
49    2021-8-18  2021-8-18  입산자실화추정  충남 부여     5.00
50    2021-8-18  2021-8-18  입산자실화추정  충남 서천     0.09
51    2021-8-13  2021-8-13  입산자실화추정  인천 강화     0.82
...         ...        ...      ...    ...      ...
6701  2003-1-13  2003-1-13    쓰레기소각  강원 동해     0.10
6702  2003-1-13  2003-1-13  입산자실화추정  경남 양산     0.40
6700  2003-1-12  2003-1-12  입산자실화추정  경남 합천     0.70
6699  2003-1-11  2003-1-11  입산자실화추정  경북 안동     0.30
6747   2003-1-1   2003-1-1    성묘객실화  경북 경산     0.70

[8204 rows x 5 columns]

In [20]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_sanbul))

# 데이터프레임만들기
target_lst = df_sanbul['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '산불발생여부':answer})
df_target.value_counts()

시간         산불발생여부
2015-3-22  1         31
2003-4-5   1         27
2006-3-25  1         27
2003-4-6   1         27
2013-3-9   1         25
                     ..
2013-4-19  1          1
2013-3-7   1          1
2013-3-25  1          1
2013-3-24  1          1
2021-9-20  1          1
Length: 2577, dtype: int64

In [21]:
# 중복날짜 제거
df_target.drop_duplicates(inplace=True)
df_target.value_counts()

시간         산불발생여부
2003-1-1   1         1
2016-5-12  1         1
2016-6-5   1         1
2016-6-6   1         1
2016-7-11  1         1
                    ..
2009-3-18  1         1
2009-3-19  1         1
2009-3-2   1         1
2009-3-20  1         1
2021-9-20  1         1
Length: 2577, dtype: int64

In [22]:
df_c.set_index('시간',inplace= True)

In [23]:
# 구간(2003년 ~2021년8월)
df_c2 = df_c.loc['2003-01-01':'2021-08-31']
df_c2

,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,서울평균 풍속,...,상하이이슬점 온도,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도
시간,,,,,,,,,,,,,,,,,,,,,
2003-01-01,-4.7,-7.1,-1.0,0.0,0.0,9.9,270.0,5.9,270.0,2.9,...,-2.025000,-3.4750,0.1,-8.9,43.6875,280.0,3.250,0.00000,1034.7250,-14.2875
2003-01-02,-4.3,-9.2,0.0,0.0,0.0,7.5,70.0,4.3,270.0,1.8,...,2.025000,-3.1375,0.1,-8.5,62.7750,80.0,4.125,0.00000,1032.0750,-9.7375
2003-01-03,-3.6,-6.8,-0.3,0.0,1.3,15.2,340.0,7.1,320.0,2.7,...,-6.575000,-9.5125,-5.5,-13.0,41.6875,60.0,3.000,0.00000,1034.9375,-20.5375
2003-01-04,-10.2,-13.4,-6.8,0.0,0.2,13.8,270.0,6.6,270.0,4.1,...,-12.637500,-10.0250,-5.9,-13.0,47.7125,70.0,3.625,0.00000,1040.1000,-19.3250
2003-01-05,-12.8,-15.5,-9.1,0.0,0.0,12.0,250.0,6.1,270.0,3.8,...,-9.037500,-6.7750,-2.5,-13.1,36.6375,350.0,2.625,0.00000,1039.2375,-19.7625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,1.3,...,26.737500,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250
2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,1.8,...,26.957143,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375
2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,1.6,...,26.700000,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625
2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,1.4,...,25.887500,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125
2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,2.3,...,25.287500,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500

============================================================================================================

# 타겟설정

### (1)피해면적에 따라 타겟설정

In [24]:
# 날짜별 피해면적
df_firesum = df_fire.groupby('발생일시').sum()
df_firesum.sort_values(by='피해면적_합계',ascending=False,inplace=True)
df_firesum

            피해면적_합계
발생일시
2019-4-4    2881.19
2020-4-24   1947.62
2005-4-4    1184.67
2017-5-6    1108.53
2021-2-21    577.98
...             ...
2017-4-20      0.01
2010-12-6      0.01
2020-9-26      0.01
2014-12-26     0.01
2017-2-24      0.01

[2577 rows x 1 columns]

In [25]:
np.percentile(df_firesum, q = [25,50,70,75])

array([0.1 , 0.31, 0.85, 1.07])

In [26]:
# 0.31 이상 
df_firesum1 = df_firesum[df_firesum['피해면적_합계'] > 0 ]
df_firesum1.reset_index(inplace=True)
df_firesum1

            발생일시  피해면적_합계
0       2019-4-4  2881.19
1      2020-4-24  1947.62
2       2005-4-4  1184.67
3       2017-5-6  1108.53
4      2021-2-21   577.98
...          ...      ...
2572   2017-4-20     0.01
2573   2010-12-6     0.01
2574   2020-9-26     0.01
2575  2014-12-26     0.01
2576   2017-2-24     0.01

[2577 rows x 2 columns]

In [27]:
# np.percentile(df_firesum['피해면적_합계'],q=[25,50,75,90])

### (2) 지역별 타겟 개수

In [28]:
df_fire['발생장소_광역시'] = df_fire['발생장소'].apply(lambda x: x.split(' ')[0])
df_fire

           발생일시     진화종료일시          발생원인   발생장소  피해면적_합계 발생장소_광역시
579   2020-4-24  2020-4-27      입산자실화 추정  경북 안동  1944.00       경북
1264   2019-4-4   2019-4-5  특고압 전선 아크 불티  강원 고성  1266.62       강원
1261   2019-4-4   2019-4-5     신당 전기초 합선  강원 강릉  1260.15       강원
2449   2005-4-4   2005-4-6       입산자실화추정  강원 양양   973.00       강원
2383   2017-5-6   2017-5-9        입산자 실화  강원 삼척   765.12       강원
...         ...        ...           ...    ...      ...      ...
3117  2016-2-23  2016-2-23           조사중   울산 북     0.01       울산
3119  2016-2-21  2016-2-21         담뱃불실화  부산 기장     0.01       부산
3121  2016-2-21  2016-2-21         쓰레기소각  경기 가평     0.01       경기
1489  2009-1-26  2009-1-26       농산폐기물소각  경남 하동     0.01       경남
1519  2009-2-21  2009-2-21       움막화재 확산  부산 기장     0.01       부산

[8204 rows x 6 columns]

In [29]:
df_fire['발생장소_광역시'].value_counts()

경북    1450
경기    1230
강원    1016
전남     813
경남     773
충북     452
전북     447
충남     389
인천     331
부산     308
서울     243
울산     238
대구     181
대전     168
광주     117
세종      40
제주       8
Name: 발생장소_광역시, dtype: int64

In [30]:
# 가장 빈도수가 높은 지역

df_fire2= df_fire[df_fire["발생장소_광역시"]=='경북']
df_fire2

            발생일시      진화종료일시      발생원인   발생장소  피해면적_합계 발생장소_광역시
579    2020-4-24   2020-4-27  입산자실화 추정  경북 안동  1944.00       경북
2115    2009-4-6    2009-4-7   입산자실화추정  경북 칠곡   407.00       경북
257    2021-2-21   2021-2-23      원인미상  경북 안동   307.00       경북
946    2004-4-16   2004-4-17   입산자실화추정  경북 포항   224.00       경북
346    2004-3-28   2004-3-29     쓰레기소각  경북 봉화   123.00       경북
...          ...         ...       ...    ...      ...      ...
709     2020-4-3    2020-4-3     입산자실화  경북 상주     0.01       경북
1483   2019-2-17   2019-2-17  입산자 실화추정  경북 포항     0.01       경북
1444  2006-12-30  2006-12-30     입산자실화  경북 영덕     0.01       경북
3185   2016-1-17   2016-1-17   농산폐기물소각  경북 안동     0.01       경북
1422   2006-11-5   2006-11-5     입산자실화  경북 문경     0.01       경북

[1450 rows x 6 columns]

In [31]:
# 중복값 제거
df_fire2 = df_fire2.drop_duplicates(subset = '발생일시')
df_fire2

            발생일시      진화종료일시          발생원인   발생장소  피해면적_합계 발생장소_광역시
579    2020-4-24   2020-4-27      입산자실화 추정  경북 안동  1944.00       경북
2115    2009-4-6    2009-4-7       입산자실화추정  경북 칠곡   407.00       경북
257    2021-2-21   2021-2-23          원인미상  경북 안동   307.00       경북
946    2004-4-16   2004-4-17       입산자실화추정  경북 포항   224.00       경북
346    2004-3-28   2004-3-29         쓰레기소각  경북 봉화   123.00       경북
...          ...         ...           ...    ...      ...      ...
671     2020-4-7    2020-4-7          원인미상  경북 의성     0.01       경북
3213   2015-11-3   2015-11-3  자연발화추정(퇴비더미)  경북 영주     0.01       경북
1444  2006-12-30  2006-12-30         입산자실화  경북 영덕     0.01       경북
3185   2016-1-17   2016-1-17       농산폐기물소각  경북 안동     0.01       경북
1422   2006-11-5   2006-11-5         입산자실화  경북 문경     0.01       경북

[996 rows x 6 columns]

In [32]:
df_firesum1.to_csv('./data/산불타겟_국내.csv',index=False)

In [33]:
df_fire2.to_csv('./data/산불타겟_경북.csv',index=False)

==============================================================================================

# 기후 데이터 + 산불 타겟 합치기

In [34]:
# # 날씨 인덱스에서 원위치 후 합치기
# df_c2.reset_index(inplace=True)
# df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# # 타겟값 1 나머지 0 
# df_model['산불발생여부'] = df_model['산불발생여부'].apply(lambda x : x if x == 1 else 0)
# df_model

In [35]:
# df_model.to_csv('./data/산불타겟추가.csv')

## 타겟 기준 수정: 국내 전체

In [36]:
df_all = pd.read_csv('./data/산불타겟_국내.csv')
df_all

            발생일시  피해면적_합계
0       2019-4-4  2881.19
1      2020-4-24  1947.62
2       2005-4-4  1184.67
3       2017-5-6  1108.53
4      2021-2-21   577.98
...          ...      ...
2572   2017-4-20     0.01
2573   2010-12-6     0.01
2574   2020-9-26     0.01
2575  2014-12-26     0.01
2576   2017-2-24     0.01

[2577 rows x 2 columns]

In [37]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_all))

# 데이터프레임만들기
target_lst = df_all['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '산불발생여부':answer})
df_target.value_counts()

시간         산불발생여부
2003-1-1   1         1
2016-5-12  1         1
2016-6-5   1         1
2016-6-6   1         1
2016-7-11  1         1
                    ..
2009-3-18  1         1
2009-3-19  1         1
2009-3-2   1         1
2009-3-20  1         1
2021-9-20  1         1
Length: 2577, dtype: int64

In [38]:
# 날씨 인덱스에서 원위치 후 합치기
df_c2.reset_index(inplace=True)
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['산불발생여부'] = df_model['산불발생여부'].apply(lambda x : x if x == 1 else 0)
# df_model.drop(columns = ['index'], inplace=True)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,산불발생여부
0,2003-01-01,-4.7,-7.1,-1.0,0.0,0.0,9.9,270.0,5.9,270.0,...,-3.4750,0.1,-8.9,43.6875,280.0,3.250,0.00000,1034.7250,-14.2875,0.0
1,2003-01-02,-4.3,-9.2,0.0,0.0,0.0,7.5,70.0,4.3,270.0,...,-3.1375,0.1,-8.5,62.7750,80.0,4.125,0.00000,1032.0750,-9.7375,0.0
2,2003-01-03,-3.6,-6.8,-0.3,0.0,1.3,15.2,340.0,7.1,320.0,...,-9.5125,-5.5,-13.0,41.6875,60.0,3.000,0.00000,1034.9375,-20.5375,0.0
3,2003-01-04,-10.2,-13.4,-6.8,0.0,0.2,13.8,270.0,6.6,270.0,...,-10.0250,-5.9,-13.0,47.7125,70.0,3.625,0.00000,1040.1000,-19.3250,0.0
4,2003-01-05,-12.8,-15.5,-9.1,0.0,0.0,12.0,250.0,6.1,270.0,...,-6.7750,-2.5,-13.1,36.6375,350.0,2.625,0.00000,1039.2375,-19.7625,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6813,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,0.0
6814,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,0.0
6815,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,0.0
6816,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,0.0
6817,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,0.0

In [39]:
df_model.to_csv('./data/산불타겟추가_피해면적기준.csv')

## 타겟 기준 수정: 발생 가장 많은 지역

In [40]:
df_kb = pd.read_csv('./data/산불타겟_경북.csv')
df_kb

           발생일시      진화종료일시          발생원인   발생장소  피해면적_합계 발생장소_광역시
0     2020-4-24   2020-4-27      입산자실화 추정  경북 안동  1944.00       경북
1      2009-4-6    2009-4-7       입산자실화추정  경북 칠곡   407.00       경북
2     2021-2-21   2021-2-23          원인미상  경북 안동   307.00       경북
3     2004-4-16   2004-4-17       입산자실화추정  경북 포항   224.00       경북
4     2004-3-28   2004-3-29         쓰레기소각  경북 봉화   123.00       경북
..          ...         ...           ...    ...      ...      ...
991    2020-4-7    2020-4-7          원인미상  경북 의성     0.01       경북
992   2015-11-3   2015-11-3  자연발화추정(퇴비더미)  경북 영주     0.01       경북
993  2006-12-30  2006-12-30         입산자실화  경북 영덕     0.01       경북
994   2016-1-17   2016-1-17       농산폐기물소각  경북 안동     0.01       경북
995   2006-11-5   2006-11-5         입산자실화  경북 문경     0.01       경북

[996 rows x 6 columns]

In [41]:
# 발생시 1 넣어줄 [1,1,1,...1] 
answer = np.repeat(1, len(df_kb))

# 데이터프레임만들기
target_lst = df_kb['발생일시']
df_target = pd.DataFrame({'시간':target_lst, '산불발생여부':answer})
df_target.value_counts()

시간          산불발생여부
2003-1-1    1         1
2017-12-16  1         1
2017-11-11  1         1
2017-11-15  1         1
2017-11-16  1         1
                     ..
2009-11-24  1         1
2009-11-3   1         1
2009-11-5   1         1
2009-11-6   1         1
2021-7-31   1         1
Length: 996, dtype: int64

In [42]:
# 날씨 인덱스에서 원위치 후 합치기
df_c2.reset_index(inplace=True)
df_model = pd.merge(df_c2, df_target, how='left' ,on='시간')

# 타겟값 1 나머지 0 
df_model['산불발생여부'] = df_model['산불발생여부'].apply(lambda x : x if x == 1 else 0)
df_model.drop(columns = ['index'],inplace=True)
df_model

,시간,서울평균 기온,서울최저 기온,서울최고 기온,서울1시간 최다강수량,서울일강수량,서울최대 순간풍속,서울최대 순간 풍속 풍향,서울최대 풍속,서울최대 풍속 풍향,...,지난평균기온,지난최고기온,지난최저기온,지난습도,지난풍향,지난풍속,지난강수량,지난해면기압,지난이슬점 온도,산불발생여부
0,2003-01-01,-4.7,-7.1,-1.0,0.0,0.0,9.9,270.0,5.9,270.0,...,-3.4750,0.1,-8.9,43.6875,280.0,3.250,0.00000,1034.7250,-14.2875,0.0
1,2003-01-02,-4.3,-9.2,0.0,0.0,0.0,7.5,70.0,4.3,270.0,...,-3.1375,0.1,-8.5,62.7750,80.0,4.125,0.00000,1032.0750,-9.7375,0.0
2,2003-01-03,-3.6,-6.8,-0.3,0.0,1.3,15.2,340.0,7.1,320.0,...,-9.5125,-5.5,-13.0,41.6875,60.0,3.000,0.00000,1034.9375,-20.5375,0.0
3,2003-01-04,-10.2,-13.4,-6.8,0.0,0.2,13.8,270.0,6.6,270.0,...,-10.0250,-5.9,-13.0,47.7125,70.0,3.625,0.00000,1040.1000,-19.3250,0.0
4,2003-01-05,-12.8,-15.5,-9.1,0.0,0.0,12.0,250.0,6.1,270.0,...,-6.7750,-2.5,-13.1,36.6375,350.0,2.625,0.00000,1039.2375,-19.7625,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6813,2021-08-27,22.4,20.4,25.5,0.7,0.9,4.9,250.0,3.2,250.0,...,22.2000,26.1,17.8,68.6500,350.0,2.250,0.00000,1013.3000,15.9250,0.0
6814,2021-08-28,23.6,19.7,28.2,0.0,0.0,7.3,270.0,3.9,270.0,...,23.2000,28.4,18.9,75.6250,320.0,1.500,-2.07536,1013.3875,18.3375,0.0
6815,2021-08-29,23.7,21.9,26.3,0.7,0.9,5.6,340.0,3.4,320.0,...,20.5500,21.9,18.8,92.9875,50.0,0.875,-2.07536,1014.1125,19.3625,0.0
6816,2021-08-30,24.2,21.2,27.7,0.0,0.0,4.5,270.0,2.9,250.0,...,22.4000,24.3,21.4,93.1250,40.0,1.500,-2.07536,1013.2750,21.2125,0.0
6817,2021-08-31,20.5,18.1,23.1,12.4,77.4,9.3,70.0,4.9,70.0,...,19.9125,21.7,18.8,94.7875,50.0,2.625,-2.07536,1012.6750,19.0500,0.0

In [43]:
df_model.to_csv('./data/산불타겟추가_경북만.csv')